body {
    /*background: url('img/eita.jpg') no-repeat center fixed;
  	background-size: cover;*/
    background-color: #FFE4C4;
}
h1 {
    color:#FEFDFB;
    font-family:Felix Titlin;
    font-size: 300%;
    text-align: center;
}
.css3button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #000000;
    padding: 32px 32px;
    background: -moz-linear-gradient(
        top,
        #fcfcfc 0%,
        #ffffff);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#fcfcfc),
        to(#ffffff));
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border: 4px solid #000000;
    -moz-box-shadow:
        0px 1px 3px rgba(255,255,255,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.7);
    -webkit-box-shadow:
        0px 1px 3px rgba(255,255,255,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.7);
    box-shadow:
        0px 1px 3px rgba(255,255,255,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.7);
    text-shadow:
        0px -1px 0px rgba(255,255,255,0.4),
        0px 1px 0px rgba(255,255,255,0.3);

}
.velha{
  margin: 0 auto;
  border: 2px red solid;
}
