<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/estilo.css')}}"/>
</head>

	<meta charset="UTF-8">
		<title>Jogo da velha</title>
	</head>

	<body>
		<h1> JOGO DA VELHA </h1>
		<p> Cadastre-se para jogar com seus amigos. <br>
		</p>


      <form method="post">
				 <center><p> Nome </p></center>
        <center> <input type="text" name="nome">
			 </input></center>

				<p> Senha </p>
				 <center><input type="password" name="senha">
			 </input></center> <br>
				 <center><button type="submit" class="button">Jogar</button></center>
			</form>


	</body>
</html>
