<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/estilo.css')}}"/>
</head>

	<meta charset="UTF-8">
		<title>Jogo da velha</title>
	</head>

	<body>
		<h1> JOGO DA VELHA </h1>
		<p> Cadastre-se para jogar com seus amigos. <br>
		</p>
    <form class="form-horizontal">
  <div class="form-group">
    <label for="inputNome3" class="col-sm-2 control-label">Nome</label>
    <div class="col-sm-10">
      <input type="nome" class="form-control" id="inputNome3" >
		<form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" >
    </div>
  </div> <br>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Senha</label>
    <div class="col-sm-10">
      <input type="senha" class="form-control" id="inputPassword3" >
    </div>
  </div> <br>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Lembre-se de mim
        </label>
      </div>
    </div> <br>
  <p>
  <a href="#" class="css_btn_class">Jogar</a> <br>
	<br>
</p>
</form>
	</div>
	<!-- Formulário
  <div>
      <form action="#" method="get">
         <center><textarea name="nome" rows="2" cols="20"> nome
          </textarea>
      </form>
      </div>
		<div>
			<form action="#" method="get">
				 <center><textarea name="email" rows="2" cols="20"> email
					</textarea>
			</form>
    	</div>
    	<div>
			<form action="#" method="get">
				 <center><textarea name="email" rows="2" cols="20"> senha
				</textarea>
			</form>
    	</div>
 			</form>
 			<br><center><button class="button">Jogar</button></center> <br>
 	 	Fim do formulário -->
	</body>
</html>
