<DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
<title>Jogo da Velha</title>
  <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="css/estilo.css")}}"/>
  <meta charset="UTF-8">
  <script type="text/javascript" src="{{url_for("static", filename="js/script.js")}}" > </script>
  <script type="text/javascript" src="{{url_for("static", filename="js/jquerymin.js")}}"></script>
  <!--AJAX-->
  <script>
    function jogar(partida, jogada){
      console.log(partida);
      console.log(jogada);
      $.ajax({
        url: "{{ url_for('jogada')}}",
        data:FormData,
        processData: false,
        contentType: false,
        type: "POST",
        sucess: function(data){
          alert(data);
          }
      });
}
    </script>

  <!--CURSOR DO MOUSE-->
  <style type="text/css">body, a:hover {cursor: url(http://ani.cursors-4u.net/symbols/sym-9/sym802.cur), progress !important;}</style>
  <a href="http://www.cursors-4u.com/cursor/2016/07/08/your-life-matters.html" target="_blank" title="Your Life Matters">
  <img src="http://cur.cursors-4u.net/cursor.png" border="0" alt="Your Life Matters" style="position:absolute; top: 0px; right: 0px;" /></a>
<!--fim do cursor do mouse-->
<!--favicon-->
<link rel="shortcut icon" href="../static/img/hash.png" />


</head>
<body>

      <form class="checkbox">
      <b style="color:black;">Jogar contra o computador</b>
      <input type="checkbox" id="cpu"checked>
      </form>

  <h1> Jogo da velha</h1>
  <p> Clique para começar. </p>
<table border="1" cellspacing= "5" align="center">
<tr>
<td><img src="{{url_for("static", filename="img/branco.png")}}" id="n1" onclick="checando(this.id);jogar({{ partida }}, 'n1');"></td>
<td><img src="{{url_for("static", filename="img/branco.png")}}" id="n2" onclick="checando(this.id);jogar({{ partida }}, 'n2');"></td>
<td><img src="{{url_for("static", filename="img/branco.png")}}" id="n3" onclick="checando(this.id);jogar({{ partida }}, 'n3');"></td>
</tr>
<tr>
<td><img src="{{url_for("static", filename="img/branco.png")}}"  id="n4" onclick="checando(this.id);jogar({{ partida }}, 'n4')"></td>
<td><img src="{{url_for("static", filename="img/branco.png")}}"  id="n5" onclick="checando(this.id);jogar({{ partida }}, 'n5')"></td>
<td><img src="{{url_for("static", filename="img/branco.png")}}"  id="n6" onclick="checando(this.id);jogar({{ partida }}, 'n6')"></td>
</tr>
<tr>
<td><img src="{{url_for("static", filename="img/branco.png")}}" id="n7" onclick="checando(this.id); jogar({{ partida }}, 'n7')"></td>
<td><img src="{{url_for("static", filename="img/branco.png")}}" id="n8" onclick="checando(this.id); jogar({{ partida }}, 'n8')"></td>
<td><img src="{{url_for("static", filename="img/branco.png")}}" id="n9" onclick="checando(this.id); jogar({{ partida }}, 'n9')"></td>
</tr>
</table>

<a href="/logout" class="sair">Sair</a>



<!--CORAÇÕES CAINDO-->
<script type="text/javascript">
var snowcolor=new Array("#B8342F","#F09D97")

var snowmax=35
var snowtype=new Array("Times")
var snowletter="♥"
var sinkspeed=0.3
var snowmaxsize=20
var snowminsize=8
var snowingzone=1

var snow=new Array()
var marginbottom
var marginright
var timer
var i_snow=0
var x_mv=new Array();
var crds=new Array();
var lftrght=new Array();
var browserinfos=navigator.userAgent
var ie5=document.all&&document.getElementById&&!browserinfos.match(/Opera/)
var ns6=document.getElementById&&!document.all
var opera=browserinfos.match(/Opera/)
var browserok=ie5||ns6||opera

function randommaker(range) {
        rand=Math.floor(range*Math.random())
    return rand
}

function initsnow() {
        if (ie5 || opera) {
                marginbottom = document.body.scrollHeight
                marginright = document.body.clientWidth-15
        }
        else if (ns6) {
                marginbottom = document.body.scrollHeight
                marginright = window.innerWidth-15
        }
        var snowsizerange=snowmaxsize-snowminsize
        for (i=0;i<=snowmax;i++) {
                crds[i] = 0;
            lftrght[i] = Math.random()*15;
            x_mv[i] = 0.03 + Math.random()/10;
                snow[i]=document.getElementById("s"+i)
                snow[i].style.fontFamily=snowtype[randommaker(snowtype.length)]
                snow[i].size=randommaker(snowsizerange)+snowminsize
                snow[i].style.fontSize=snow[i].size+'px';
                snow[i].style.color=snowcolor[randommaker(snowcolor.length)]
                snow[i].style.zIndex=1000
                snow[i].sink=sinkspeed*snow[i].size/5
                if (snowingzone==1) {snow[i].posx=randommaker(marginright-snow[i].size)}
                if (snowingzone==2) {snow[i].posx=randommaker(marginright/2-snow[i].size)}
                if (snowingzone==3) {snow[i].posx=randommaker(marginright/2-snow[i].size)+marginright/4}
                if (snowingzone==4) {snow[i].posx=randommaker(marginright/2-snow[i].size)+marginright/2}
                snow[i].posy=randommaker(2*marginbottom-marginbottom-2*snow[i].size)
                snow[i].style.left=snow[i].posx+'px';
                snow[i].style.top=snow[i].posy+'px';
        }
        movesnow()
}

function movesnow() {
        for (i=0;i<=snowmax;i++) {
                crds[i] += x_mv[i];
                snow[i].posy+=snow[i].sink
                snow[i].style.left=snow[i].posx+lftrght[i]*Math.sin(crds[i])+'px';
                snow[i].style.top=snow[i].posy+'px';

                if (snow[i].posy>=marginbottom-2*snow[i].size || parseInt(snow[i].style.left)>(marginright-3*lftrght[i])){
                        if (snowingzone==1) {snow[i].posx=randommaker(marginright-snow[i].size)}
                        if (snowingzone==2) {snow[i].posx=randommaker(marginright/2-snow[i].size)}
                        if (snowingzone==3) {snow[i].posx=randommaker(marginright/2-snow[i].size)+marginright/4}
                        if (snowingzone==4) {snow[i].posx=randommaker(marginright/2-snow[i].size)+marginright/2}
                        snow[i].posy=0
                }
        }
        var timer=setTimeout("movesnow()",50)
}

for (i=0;i<=snowmax;i++) {
        document.write("<span id='s"+i+"' style='position:absolute;top:-"+snowmaxsize+"'>"+snowletter+"</span>")
}
if (browserok) {
        window.onload=initsnow
}

</script>
<!--fim dos corações caindo-->
</body>
</html>
