<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/estilo1.css')}}"/>
	</head>

	<meta charset="UTF-8">
		<title>Jogo da velha</title>
	</head>
	<body>
		<h1> Boa partida! </h1>

		<button type="button" name="" value="" class="css3button"></button>
		<button type="button" name="" value="" class="css3button"></button>
		<button type="button" name="" value="" class="css3button"></button>
		<br>
		<button type="button" name="" value="" class="css3button"></button>
		<button type="button" name="" value="" class="css3button"></button>
		<button type="button" name="" value="" class="css3button"></button>
		<br>
		<button type="button" name="" value="" class="css3button"></button>
		<button type="button" name="" value="" class="css3button"></button>
		<button type="button" name="" value="" class="css3button"></button>


	</body>
</html>
