<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<link rel="stylesheet" type="text/css" href="{{url_for("static", filename=  "css/estilo.css")}}"/>
	</head>

	<meta charset="UTF-8">
		<title>Jogo da velha</title>
	</head>
	<!-- TENTAR BOTAR O BG NO CSS -->
	<body>
		<h1> JOGO DA VELHA </h1>
		<p> Quem nunca se divertiu com o jogo da velha? <br>
			  Jogue o clássico com seus amigos.
		</p>
		<form method="post">
			 <center><p> Nome </p></center>
			<center> <input type="text" name="nome">
		 </input></center>

			<p> Senha </p>
			 <center><input type="password" name="senha">
		 </input></center> <br>
		 <center><button type="submit" class="css_btn_class">Jogar</button> <br>
	 </form>
	<br>
   <a href="/cadastro" class="css_btn_class">Não possiu conta? Cadastre-se</a>
 </center>
</p>
</form>
	</div>
</body>
</html>
