<DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Jogo da velha</title>
		<link rel="stylesheet" type="text/css" href="{{url_for("static", filename=  "css/estilo.css")}}"/>

		<!--CURSOR DO MOUSE-->
		<style type="text/css">body, a:hover {cursor: url(http://ani.cursors-4u.net/symbols/sym-9/sym802.cur), progress !important;}</style>
		<a href="http://www.cursors-4u.com/cursor/2016/07/08/your-life-matters.html" target="_blank" title="Your Life Matters">
		<img src="http://cur.cursors-4u.net/cursor.png" border="0" alt="Your Life Matters" style="position:absolute; top: 0px; right: 0px;" /></a>
		<!--fim do cursor do mouse-->

		<!--favicon-->
		<link rel="shortcut icon" href="../static/img/hash.png" />
	</head>

	<meta charset="UTF-8">
		<title>Jogo da velha</title>
	</head>
	<body>
		<h1> JOGO DA VELHA </h1>
		<p> Quem nunca se divertiu com o jogo da velha? <br>
			  Jogue o clássico com seus amigos.
		</p>
		<form method="post">
			 <center><p> Nome </p></center>
			<center> <input type="text" name="nome">
		 </input></center>

			<p> Senha </p>
			 <center><input type="password" name="senha">
		 </input></center> <br>
		 <center><button type="submit" class="css_btn_class">Jogar</button> <br>
	 </form>
	<br>
   <a href="/cadastro" class="css_btn_class">Não possui conta? Cadastre-se!</a>
 </center>
</p>
</form>
	</div>
</body>
</html>
