<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Partidas</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/estilo.css')}}"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Partidas abertas</h2>
  <div class="list-group">

    {% for row in partidas %}

    <a href="/velha/{{ row.idpartida }}" class="list-group-item">Partida {{ row.idpartida }} </a>

    {% endfor %}
  </div>
</div>
<center><a href="/velha/new" class="css_btn_class">Criar nova partida!</a> <br>
  <br>
    <a href="/logout" class="button sair">Sair</a>
</body>
</html>
